@model IEnumerable<T034.ViewModel.SettingViewModel>

@{
    ViewBag.Title = "Обновление";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="form-actions">
    <button type="submit" class="btn btn-primary" id="btnBackup">Бекап</button>
</div>
