@{
    ViewBag.Title = "Сайт переехал";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}
<div class="row" style="margin-top:200px">
    <div class="col-md-4 text-center"></div>
    <div class="col-md-4 text-center">
        @* <h2>Сайт</h2> *@
        <h3>Сайт переехал на новый адрес</h3>
    </div>
    <div class="col-md-4 text-center"></div>
</div>