@model T034.Models.UserModel

@Model.Name 

@if (Model.IsAutharization)
{
    @Html.ActionLink("Выйти", "Logout", "Auth")
}
else
{
    <a href="https://oauth.yandex.ru/authorize?response_type=code&client_id=030edcedc0264dc188a18f4779642970&display=popup" target="_blank">Войти при помощи Яндекса</a>
}
@using (Html.BeginForm("Login", "Auth"))
{
    @Html.Hidden("token")
}