<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDir" value="${basedir}/Logs/${date:format=yyyy-MM-dd}" />
  <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}" />
  <targets>
    <target name="traceLog" xsi:type="File" fileName="${logDir}/trace.log" layout="${detailedLayout}" />
    <target name="warnLog" xsi:type="File" fileName="${logDir}/warn.log" layout="${detailedLayout}" />
    <target name="errorLog" xsi:type="File" fileName="${logDir}/error.log" layout="${detailedLayout}" />
    <target name="fatalLog" xsi:type="File" fileName="${logDir}/fatal.log" layout="${detailedLayout}" />
    <target name="controller" xsi:type="File" fileName="${logDir}/file.txt" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="traceLog" />
    <logger name="*" minlevel="Warn" writeTo="warnLog" />
    <logger name="*" minlevel="Error" writeTo="errorLog" />
    <logger name="*" minlevel="Fatal" writeTo="fatalLog" />
    <logger name="T034.*" minlevel="Debug" writeTo="controller" />
  </rules>
</nlog>
