<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="Logs\internal-nlog-AspNetCore.txt">
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDir" value="Logs\${date:format=yyyy-MM-dd}" />
  <targets>
    <target name="infoLog" 
			xsi:type="File" 
			fileName="${logDir}\info.log" 
      encoding="UTF-8"/>
    <target name="traceLog" 
			xsi:type="File" 
			fileName="${logDir}\trace.log" 
			layout ="${longdate}|${level:uppercase=true}|${callsite}|${message}"
      encoding="UTF-8"/>
    <target name="warnLog" xsi:type="File" fileName="${logDir}\warn.log" encoding="UTF-8" />
    <target name="errorLog" xsi:type="File" fileName="${logDir}\error.log" encoding="UTF-8" />
    <target name="fatalLog" xsi:type="File" fileName="${logDir}\fatal.log" encoding="UTF-8" />
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="infoLog" />
    <logger name="*" writeTo="traceLog" />
    <logger name="*" level="Warn" writeTo="warnLog" />
    <logger name="*" level="Error" writeTo="errorLog" />
    <logger name="*" level="Fatal" writeTo="fatalLog" />
    <!--<logger name="T034.*" minlevel="Debug" writeTo="" />-->
    <!--<logger name="*" minlevel="Fatal" writeTo="gmail" />-->
  </rules>
</nlog>
