<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.1.0" targetFramework="net4" requireReinstallation="true" />
  <package id="bootstrap" version="3.0.1" targetFramework="net40" />
  <package id="CKEditor" version="3.6.4" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net4" requireReinstallation="true" />
  <package id="jQuery" version="1.9.0" targetFramework="net40" />
  <package id="jQuery.FileUpload" version="9.11.1" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.9.0" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.8.0.1" targetFramework="net40" />
  <package id="jQuery.vsdoc" version="1.6" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net4" requireReinstallation="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Modernizr" version="1.7" targetFramework="net40" />
  <package id="Ninject" version="3.2.0.0" targetFramework="net4" requireReinstallation="true" />
  <package id="Ninject.MVC4" version="3.2.1.0" targetFramework="net4" requireReinstallation="true" />
  <package id="Ninject.Web.Common" version="3.2.0.0" targetFramework="net4" requireReinstallation="true" />
  <package id="Ninject.Web.Common.WebHost" version="3.2.0.0" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.93.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.93.0" targetFramework="net4" requireReinstallation="true" />
  <package id="System.Data.SQLite.EF6" version="1.0.93.0" targetFramework="net4" requireReinstallation="true" />
  <package id="System.Data.SQLite.Linq" version="1.0.93.0" targetFramework="net4" requireReinstallation="true" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net40" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net40" />
</packages>