@{
    ViewBag.Title = "Произошла внутренняя ошибка сервера";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-not-found">
    <h1>Произошла внутренняя ошибка сервера</h1>

    <p>
        Произошла внутренняя ошибка сервера. @Html.ActionLink("Главная страница", "Index", "Home")
    </p>
</div>
