@{
    ViewBag.Title = "Страница не найдена";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-not-found">
    <h1>Страница не найдена</h1>

    <p>
        Такой страницы не существует, но Вы можете вернуться на @Html.ActionLink("главную страницу", "Index", "Home")
    </p>
</div>
