@{
    ViewBag.Title = "Недостаточно прав";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-not-found">
    <h1>Недостаточно прав</h1>

    <p>
        Недостаточно прав, но Вы можете вернуться на @Html.ActionLink("главную страницу", "Index", "Home")
    </p>
</div>
