@{
    ViewBag.Title = "Сайты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-group">
    <a href="http://abam-invest.ru" class="list-group-item">
        <h4 class="list-group-item-heading">Микрофинансовая организация</h4>
        <p class="list-group-item-text">Визитка. Минимальное количество страниц.</p>
    </a>
    <a href="http://box9-vlg.ru" class="list-group-item">
        <h4 class="list-group-item-heading">СДЮСШОР №9</h4>
        <p class="list-group-item-text">Модератор. Добавление файлов пользователем. Ведение новостной ленты.</p>
    </a>
    <a href="http://avia-spektr.ru" class="list-group-item">
        <h4 class="list-group-item-heading">Авиаработы</h4>
        <p class="list-group-item-text">Содержательный. Видео, фото, вложенное меню. Форма обратной связи.</p>
    </a>
    <a href="http://t034-ru.1gb.ru/" class="list-group-item">
        <h4 class="list-group-item-heading">Макет</h4>
        <p class="list-group-item-text">Макет дизайна.</p>
  </a>
</div>
