<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>G:\_dev\box9\src\publish</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <TargetFramework>net6.0-windows</TargetFramework>
    <ProjectGuid>8196906d-5e35-44fe-bd8c-0e0941680b41</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>