body
{
    font-size: 12px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #000000;
    background-color: #fff;
}


.text
{
    font-size: 13px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #000000;
    background-color: #ffffff;
    padding: 0 0 0 0;
    line-height: 0;
}

.main
{
    font-size: 8px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #000000;
    background-color: #ffffff;
    text-align: justify;
    background: url("pic/main.png") repeat scroll 0 0 #fff;
    width: 900px;
    padding: 0 0 0 0;
    line-height: -10px;
}

.down
{
    font-size: 13px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #000000;
    background-color: #ffffff;
    padding: 0 0 0 0;
    line-height: 0;
}

.down1
{
    font-size: 12px;
    font-family: Times New Roman, "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #036603;
    text-align: right;
    width: 900px;
    line-height: -10px;
}

.filling
{
    font-size: 13px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #000000;
    text-align: justify;
    padding: 0 20px 0 20px;
    margin-bottom: 10px !important;
}

.btn-group
{
    padding: 0 0 5px 0;
	
}

h2
{
    font-size: 23px;
    font-family: Times New Roman, "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #008000;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding: 0 0 5px 0;
}

h3
{
    font-size: 18px !important;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #cc0000 !important;
    text-align: center;
    font-weight: bold;
}

h4
{
    font-size: 18px !important;
    font-family: Times New Roman, "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    text-align: justify;
    font-weight: bold;
    color: #036203 !important;
}

h6
{
    font-size: 11px !important;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    text-align: justify;
    color: #718272 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}


.jtable
{
    font-size: 13px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #000000;
    text-align: justify;
    padding: 0 5px 0 5px;
}

.ctable
{
    font-size: 13px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #000000;
    text-align: center;
    padding: 0 5px 0 5px;
}


/* Styles for bottom menu link
-----------------------------------------------------------*/

A:link
{
    font-size: 16px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    text-align: justify;
    font-weight: bold;
    color: #008600 !important;
    text-decoration: none;
    margin-top: 30px !important;
}

A:hover
{
	color: #029d0a;
	text-decoration: none;
}

A:active
{
	color: #029d0a !important;
	text-decoration: none;
}

A:visited
{
    color: #008600 !important;
}

A.down
{
	font-size: 12px;
        font-family: Times New Roman, "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	color: #036603;
	text-decoration: none;
	font-style: italic;
	font-align: right;
	vertical-align: -15px;
	font-weight: bold;
	padding: 0 10px 10px 10px;
}

A.down:hover
{
	color: #03b003;
	text-decoration: none;
}


A.mm
{
	font-size: 13px;
        font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	color: #20814e !important;
	font-style: italic;
	text-decoration: none;
}

A.mm:active
{
	color: #ffd200;
	text-decoration: none;
}

A.mm:hover
{
	color: #ffd200;
	text-decoration: none;
}

#right 
{ 
	text-align: right;
}


.dropdown-menu>li>a
{
	background-color:#ffff00 !important;
	color: #045104 !important;
}

.dropdown-menu
{
	text-decoration: none;
	background-color:#ffff00 !important;
}

a.list-group-item.active
{
	background-color: #3c9f3c !important;
	border-color: #3c9f3c !important;
	color: #ffff00 !important;
	font-size: 16px;
        font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	margin-top: 0px !important;
    background-image: linear-gradient(to bottom,#006400 0,#008000 100%);
}

a.list-group-item.active:hover
{
    background-image: linear-gradient(to bottom,#006400 0,#008000 100%);
	color: #ffffff !important;
}

a.list-group-item
{
	color: #5b5c5b !important;
	font-size: 13px !important;
        font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	margin-top: 0px !important;
}

a.list-group-item:hover
{
	color: # !important;
	font-size: 13px !important;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
}


header,
footer,
nav,
section {
    display: block;
}

/*cтили главного меню*/
.main-menu {
    padding: 0;
    background: #ffff00 !important; 
	text-decoration: none;
}
.main-menu a {
    font-style:italic;
    color: #033903 !important;
    font-size: 18px !important;
    margin: 0 !important;
    font-family: Times New Roman, "Trebuchet MS", Verdana, Helvetica, Sans-Serif !important;
    background: linear-gradient(180deg, #033903 45%, #068906);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
    font-weight: bold;
}
.main-menu a:hover {
    color: #029d0a !important;
}
.main-menu a:focus {
    background-color: #ffd800 !important;
}
/*cтили рамки контента*/
.content {
    border: 15px solid #ff8c00;
    border-image: url(pic/border.png) 15 stretch stretch;
}

.navbar {
    border: 0px solid !important;
}

.banner
{
    font-size: 5px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #000000;
    background-color: #368536;
    height: 303px;
    text-align: center;
}

