@model T034.ViewModel.NewsViewModel

@{
    ViewBag.Title = "Новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<div>@Model.UserName</div>
<div>@Model.Resume</div>
<div>@Html.Raw(Model.Body)</div>
    