body
{
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #d3caca;
}

header,
footer,
nav,
section {
    display: block;
}

.banner {
    /*background-image: url("/Content/pic/banner.png");*/
    height: 280px;
    background-color: #72041e;
    color: #f6d413;
}

.banner p 
{
    font-style: italic;
}

.banner a 
{
    color: #f6d413;
    font-size: 25.494px;
}

.footer {
    /*background-image: url("/Content/pic/banner.png");*/
    height: 120px;
    background-color: #3b0210;
    color: #f6d413;
}

.footer p 
{
    font-style: italic;
}

.footer a 
{
    color: #f6d413;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
img.file-icon {
    width: 16px;
    height: 16px;
}